html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("https://a-static.besthdwallpaper.com/white-chalk-and-blackboard-used-in-schools-for-education-teaching-wallpaper-2048x1536-95599_26.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    background: white;
    border: 7px solid red;
    border-radius: 20%;
    padding: 30px;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 80px;
}

h3 {
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

#S, #N {
    color: blue;
}

#I {
    color: red;
}

#M {
    color: green;
}

#O {
    color: gold;
}

.shows-level {
    text-align: center;
    margin: 30px;
    color: white;
}

.game-area {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px;
    grid-gap: none;
    position: center;
    margin: 30px auto;
    padding: 0 0 0 100px;
}

#red-button, #green-button, #yellow-button, #blue-button {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

#red-button:before, #green-button:before, #yellow-button:before, #blue-button:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
}

#red-button:before {
    top: 0;
    right: 0;
    box-shadow: 50px -50px 0 0 transparent;
    background-color: red;
}

#green-button:before {
    top: 0;
    left: 0;
    box-shadow: -50px -50px 0 0 transparent;
    background-color: green;
}

#yellow-button:before {
    bottom: 0;
    left: 0;
    box-shadow: -50px 50px 0 0 transparent;
    background-color: yellow;
    
}

#blue-button:before {
    bottom: 0;
    right: 0;
    box-shadow: 50px 50px 0 0 transparent;
    background-color: blue;
}

#green-button {
    background-color: none;

}

#red-button {
    background-color: none;

}

#yellow-button {
    background-color: none;

}

#blue-button {
    background-color: none;

}

#green-button:hover {
    background-color: green;
}
#red-button:hover {
    background-color: #ff0000;
}
#yellow-button:hover {
    background-color: #ffff00;
}
#blue-button:hover {
    background-color: #0000ff;
}

#green-button.pushed, #green-button:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#red-button.pushed, #red-button:active {
    background-color: #ff6666;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#yellow-button.pushed, #yellow-button:active {
    background-color: #ffff66;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#blue-button.pushed, #blue-button:active {
    background-color: #6666ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer {
    text-align: center;
    margin: 30px;
}

.message {
    color: white;
    border-radius: 25%;
    padding: 10px;
}

button {
    text-align: center;
    font-family: 'Caveat', cursive;
    height:50px;
    width: 140px;
    font-size: 25px;
    border: 5px solid red;
    border-radius: 25%;
    background: white;
}

.hide {
    display: none;
}

#remember, #red {
    color: red;
}

p {
    color:white;
}

.no-click {
    pointer-events: none;
}